/*
*/
params {
    indexDir = "/home/yuan/bio/nextflow/reference/bowtie2"
    overWrite = "false"
    references = """
        /home/yuan/bio/nextflow/reference/mature.fa,
        /home/yuan/bio/nextflow/reference/hairpin.fa,
        /home/yuan/bio/nextflow/reference/human_GRCh38.p14_genomic.fna
    """
}