params {
    mode = "single_end"
    index = "/home/yuan/bio/nextflow/reference/salmon/ggal_1_48850000_49020000.Ggal71.500bpflank"
    options = "--threads 2 --libType=U --validateMappings"
    outDir = "/home/yuan/bio/nextflow/results"
    reads = "data/ggal/ggal_gut_1.fq"
    sampleName = "ggal_gut_single"

    multiqc_config = "/home/yuan/bio/nextflow/modules/multiqc/config.yaml"
}